<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/index.css">
    <title>Login Page</title>
</head>
<body>
<div class="loginBoxBody">
    <div class="parts" id="Header"><h2>Pay My Buddy</h2></div>
        <div class="parts" ><input class="TextBoxes" name="EmailBox" type="text" placeholder="Email"/></div><br/>
        <div class="parts" ><input class="TextBoxes" name="Password" type="text" placeholder="Password"/></div><br/>
        <div class="parts" ><input name="SessionKeeper" type="checkbox" />Remember me</div><br/>
        <div class="parts" ><button  id="Button" type="button">Submit</button></div>
</div>
</body>
</html>