<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/TransferPage.css">
    <title>Transfer</title>
</head>
<body>
<div id="main">
    <div class="parts" id="columnPiece1"><p>Hi</p></div>
    <div class="parts" id="columnPiece2"></div>
    <div class="parts" id="columnPiece3"></div>
    <div class="parts" id="columnPiece4"></div>
    <div class="parts" id="columnPiece5"></div>
    <div class="parts" id="columnPiece6"></div>
    <div class="parts" id="columnPiece7"></div>
    <div class="parts" id="columnPiece8"></div>
</div>
</body>
</html>