body{
    background-color: white;
    font-family: sans-serif;
    align-content: center;
    max-height: 1122px;
    overflow: scroll;
}

#main{
    display: flex;
    flex-flow: column nowrap;
}

#columnPiece1{
    text-align: center;
    color: white;
    background-color: black;
}